

.recommended-friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 25px 0px;
    margin: 25px 0px;
}
.recommended-friends__title{
    font-size: 14px;
    color: var(--text-color);
}

.recommended-friends span{
    display: block;
    margin: 110px 0px;
    text-align: center;
    color:var(--text-color);
    font-size: 18px;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    margin-bottom: 25px;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post__hashtags{
    text-transform: uppercase; /*html에 있는 문자를 대문자로 만드는 css style*/
    opacity: 0.6;
}

.open-post__members{
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider{  /*이렇게 하면 open-post__member안에 있는 divider class에만 적용됨*/
    width: 1px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0,0,0,0.2);  /*여기까지가 divider 즉 |  이거 만드는 방법, 그냥 써도 되지만 연습차원에서 ㅎ*/
}

.open-post__member-status{
    color: #ffb0e0;
}
.open-post__photo{
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post__heart-conunt{
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}
.open-post__heart-conunt span{
    margin-left: 5px;
}

@keyframes heartBeat{
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: tomato;
        transform: scale(2);
    }
    100%{
        color: white;
        scale: none;
    }
}
.open-post__heart-conunt:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}

/*will change라는 프로퍼티는 기본적으로 브라우저에게 뭔가가 바뀔거라고 말해줌. 그럴때 애니메이션을 좀 더 낫게 만듬.
일종의 help역할, 어떤게 바뀔건지 넣어주면됨.
이걸 쓴 이유는 하트가 커지고 작아질때 약간의 흔들림이 있어서 그걸 잡고자 사용해봄.*/